<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ModelQuanLyNhanVien" connectionString="data source=LAPTOP-AA8F4MMK;initial catalog=QLNHATRO;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>